/*Fonts*/
@font-face{
	font-family: "metal";
	src: url("../fonts/metal-head-font/MetalHead-GLqZ.ttf");
}

@font-face{
	font-family: "headkick";
	src: url("../fonts/head-kick-font/HeadKickPersonalUse-Yz00O.ttf");
}

@font-face{
	font-family: "mad";
	src: url("../fonts/madison/madison.ttf");
}

/*Body*/
body{
	background-color: black;
	overflow-x: hidden;
	scrollbar-color: dark;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

/*Scrollbar*/
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background: #343434;
}

::-webkit-scrollbar-thumb{
	background: darkgoldenrod;
}

/*navigation bars*/
header{
	background-color: goldenrod;
	width: 100%;
	height: 80px;
	/*position: fixed;*/
	transition: top 0.2s ease-in-out;
	top: 0px;
	display: inline-block;
	align-items: center;
	justify-items: center;
}

.nav-up{
	top:-80px;
}

#nav{
	padding-left: 10px;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: headkick;
	color: white;
}

#logo{
	height: 70px;
}

#smaller{
	display: inline-flex;
	flex-direction: column;
	height: 60px;
	padding-left: 5px;
}

#CHBot{
	margin-top: -18px;
}

/*Nav items*/
#navList{
	display: inline-flex;
	font-family: headkick;
	color: white;
	width: 30%;
	height: 80px;
	float: right;
	padding-right: 5%;
	align-items: center;
}

#navList a{
	color: white;
	font-size: 18px;
	font-kerning: 1px;
	width: 100%;
	text-decoration: none;
}

#navList a.active{
	color: black;
	font-size: 19px;
	font-kerning: 1px;
	text-decoration: none;
}

#navList a:hover{
	color: black;
	font-size: 22px;
	margin-left: 1%;
	margin-right: 1%;
}

#navList a:active{
	color: #ad371b;
}

.dropDown{
	border: none;
	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: column;
	position: absolute;
	top: 19px;
	width: 10%;
	float: right;
	position: absolute;
	right: 2%;

	padding-top: 60px;
}

.drop{
	display: none;
	font-size: 6px;
	background-color: goldenrod;
	padding: 5px;
}

.dropDown:hover .drop{
	display: block;
}

.smaller{
	padding-bottom: 3px;
}

.smaller:hover{
	font-size: 12px;
}

/*main size*/
#main{
	background-image: url("../media/Stars1.png");
	background-position: 150px;
	background-size: contain;
}

#statement{
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 0%;
	height: 90vh;
	width: 99vw;
}

#state{
	margin-top: -5px;
	margin-left: 6.5%;
	width: 80%;
	max-height: 620px;
}

#showcase{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-items: center;
	padding-top: 20px;
}

#text{
	color: white;
	width: 100%;
	margin-left: 42%;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
}

#comic{
	margin-top: 0%;
	margin-left: 10%;
	height: 620px;
	width: 40%;
	border: none;
}

#aboutComic{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	margin-left: 55px;
	margin-top: 5px;
	font-size: 22px;
	background-color: rgba(0, 0, 0, .60);
	background-blend-mode: overlay;
}

.synopsis{
	width: 100%;
	color: white;
	font-family: mad;
	font-size: 30px;
}

#button1{
	justify-self: center;
	width: 30%;
	font-family: mad;
	font-size: 25px;
	background-color: #ad371b;
}

#button1:hover{
	background-color: #353935;
	color: white;
}

#author{
	display: inline-flex;
	width: 100%;
	padding-bottom: 60px;
	background-image: url("../media/auth3.png");
	background-size: contain;
}

#text1{
	color: white;
	width: 100%;
	margin-left: 35%;
	margin-top: 50px;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
}

#aboutAuthor{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
	margin-left: 190px;
	margin-top: -10px;
	font-size: 22px;
	background-color: rgba(0, 0, 0, .60);
	background-blend-mode: overlay;
}

.abt{
	width: 100%;
	color: white;
	font-family: mad;
	font-size: 30px;
}

ul{
	margin-top: -10px;
	color: white;
	font-family: mad;
	font-size: 30px;
	width: 100%;
	list-style-type: '>> ';
}

#aboutImage{
	margin-top: 0%;
	margin-left: 10%;
	height: 300px;
	width: 30%;
	border: none;
}

#abt{
	margin-top: -15px;
	width: 65%;
	max-width: 280px;
}

#button2{
	justify-self: center;
	width: 30%;
	font-family: mad;
	font-size: 25px;
	background-color: #ad371b;
}

#button2:hover{
	background-color: #353935;
	color: white;
}

#text3{
	color: white;
	width: 100%;
	margin-left: 42%;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
}

#contact{
	width: 99vw;
	height: 200px;
	margin-bottom: 60px;
	display: inline-flex;
	justify-content: center;
}

#outerBox{
	width: 30%;
	height: 200px;
	border-radius: 10px;
	border: solid goldenrod;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: goldenrod;
}

#emText{
	color: black;
	font-family: mad;
	font-size: 30px;
	text-decoration: bold;
	margin-bottom: 0px;
	margin-top: 2px;
}

#inner{
	margin-top: 10px;
	width: 95%;
	height: 110px;
	border: solid white;
	border-radius: 10px;
	background-color: white;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.email{
	color: black;
	font-family: mad;
	font-size: 30px;
	text-decoration: bold;
}

#btn{
	margin-top: -15px;
	background-color: goldenrod;
	border-radius: 10px;
	color: black;
	font-family: mad;
	font-size: 25px;
}

#btn:hover{
	color: white;
}

#btn:active{
	color: white;
	background-color: #353935;
}

/*footer*/
#footer{
	background-color: #353935;
	width: 100%;
	height: 50px;
	margin-left: -10px;
	margin-top: -40px;
	margin-bottom: -15px;
	padding-bottom: -5px;
}

#logo2{
	padding-top: 4px;
	margin-left: 25px;
	padding-left: 10px;
	width: 8%;
}

#logoB{
	width: 52%;
}

#CHB{
	margin-top: -30px;
	margin-left: 40px;
	color: white;
	font-family: headkick;
	font-size: 10px;
}

#CHBott{
	margin-top: -13px;
	margin-left: 40px;
	color: white;
	font-family: headkick;
	font-size: 10px;
}

#navListB{
	font-size: 10px;
	position: absolute;
	margin-top: -25px;
	margin-left: 80%;
	display: inline-flex;
	justify-content: space-between;
	width: 250px;
}

#navListB a{
	color: white;
	font-size: 10px;
	font-family: headkick;
	font-kerning: 1px;
	text-decoration: none;
	width: 130%;

}

#navListB a.active{
	color: #ad371b;
	font-size: 12px;
	font-weight: 2pt;
}

#navListB a:hover{
	color: goldenrod;
	font-size: 14px;
}

#navListB a:active{
	color: darkred;
}