/*main page styling*/
@font-face{
	font-family: "metal";
	src: url("../fonts/metal-head-font/MetalHead-GLqZ.ttf");
}

@font-face{
	font-family: "headkick";
	src: url("../fonts/head-kick-font/HeadKickPersonalUse-Yz00O.ttf");
}

@font-face{
	font-family: "mad";
	src: url("../fonts/madison/madison.ttf");
}

body{
	width: 98vw;
	background-color: black;
	overflow-x: hidden;
	scrollbar-color: dark;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background: #343434;
}

::-webkit-scrollbar-thumb{
	background: #96550f;
}

#navBar{
	margin-left: 10px;
	background-color: #bd701e;
	width: 118%;
	height: 80px;
	margin-top: -11px;
	transition: top.07s ease-in-out;
}

#logo{
	padding-top: 4px;
	padding-left: 40px;
	margin-left: 50px;
	width: 20%;
}

#CHTop{
	margin-top: -50px;
	margin-left: 175px;
	color: white;
	font-family: headkick;
}

#CHTopT{
	margin-top: -20px;
	margin-left: 175px;
	color: white;
	font-family: headkick;
}

#navList{
	position: absolute;
	margin-top: -45px;
	margin-left: 1300px;
	display: inline-flex;
	justify-content: space-between;
	width: 250px;
}

#gif{
	margin-top: -40px;
	margin-left: 170px;
	width: 65%;
}

#navList a{
	color: white;
	font-size: 18px;
	font-family: headkick;
	font-kerning: 1px;
	text-decoration: none;
	width: 130%;

}

#navList a.active{
	color: black;
	font-size: 20px;
}

#navList a:hover{
	color: #ad371b;
}

#navList a:active{
	color: darkred;
}

#main{
	border: none;
	width: 100%;
	margin-top: 10px;
}

#statement{
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;
	height: 550px;
	border: none;
}

#showcase{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-items: center;
	padding-top: 20px;
}

#text{
	color: white;
	width: 100%;
	margin-left: 34%;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
}

#comic{
	margin-top: 0%;
	margin-left: 10%;
	height: 620px;
	width: 40%;
	border: none;
}

#strip1{
	width: 100%;
	rotate: 5deg;
	margin-top: 10px;
	margin-left: 5px;
	border: solid white 1pt;
	z-index: 5;
}

#strip2{
	width: 100%;
	rotate: -7deg;
	margin-top: 35px;
	margin-left: -5px;
	border: solid white 1pt;
	z-index: 6;
}

#strip3{
	width: 100%;
	rotate: 10deg;
	margin-top: 45px;
	margin-left: -5px;
	border: solid white 1pt;
	z-index: 5;
}

#snap1{
	width: 65%;
	rotate: 15deg;
}

#snap2{
	margin-top: -90px;
	margin-left: -60px;
	width: 125%;	
	rotate: -10deg;
}

#snap3{
	width: 40%;
	position: absolute;
	top: 1550px;
	left: 780px;
	rotate: 2deg;
}

#aboutComic{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	margin-left: 55px;
	margin-top: 40px;
	font-size: 22px;
}

.synopsis{
	width: 100%;
	color: white;
	font-family: mad;
	font-size: 30px;
}

#author{
	display: inline-flex;
	width: 100%;
	padding-bottom: 60px;
}

#text1{
	color: white;
	width: 100%;
	margin-left: 30%;
	margin-top: 50px;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
}

#aboutAuthor{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	margin-left: 190px;
	margin-top: 5px;
	font-size: 22px;
}

#GFW{
	margin-bottom: 50px;
	margin-top: 35px;
}

#making{
	position: absolute;
	top: 805px;
	left: 1050px;
	width: 25%;
}

#m{
	position: absolute;
	top: 1055px;
	left: 100px;
}

#Im{
	position: absolute;
	top: 705px;
	left: 80px;
	width: 15%;
	transform: rotate(-15deg);
}

#fs{
	position: absolute;
	top: 1115px;
	left: 480px;
	width: 15%;
}

#str{
	position: absolute;
	top: 1355px;
	left: 380px;
	width: 3%;
}

.abt{
	margin-top: -9px;
	width: 100%;
	color: white;
	font-family: mad;
	font-size: 30px;
}

#aboutImage{
	margin-top: 0%;
	margin-left: 5%;
	height: 500px;
	width: 40%;
	border: none;
}

#showcase2{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-items: center;
}

#text2{
	color: white;
	width: 100%;
	margin-left: 30%;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
	margin-top: -30px;
}

#v{
	position: absolute;
	top: 1332px;
	left: 145px;
	z-index: 1;
	width: 82%;
}

#comic2{
	margin-top: 0%;
	margin-left: 10%;
	height: 320px;
	width: 40%;
	border: solid #bd701e 1pt;
}

#text3{
	color: white;
	width: 100%;
	margin-left: 40%;
	font-family: headkick;
	font-size: 20px;
	font-kerning: 4px;
	margin-top: 20px;
}

#aboutAuthor1{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	height: 70%;
	margin-left: 190px;
	margin-top: 5px;
	font-size: 22px;
}

#arrows{
	position: absolute;
	top: 2580px;
	left: 180px;
}

#buttons{
	margin-top: 20px;
	width: 70%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

#button1{
	justify-self: center;
	width: 30%;
	height: 208px;
	font-family: mad;
	background-image: url("icons.png");
	background-size: 100%;
}

#button1:hover{
	background-image: url("Comic.png");
	color: white;
}

#b1{
	font-size: 40px;
	height: 100%;
	width: 100%;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px;
	display: inline-flex;
	justify-items: center;
	align-items: center;
}

#b1:hover{
	color: #ad371b;
	font-size: 40px;
	text-shadow: 1.5px 1.5px 1.5px black;
}


#button2{
	justify-self: center;
	width: 30%;
	height: 208px;
	font-family: mad;
	font-size: 40px;
	background-image: url("icons.png");
	background-size: 100%;
	margin-right: 80px;
	margin-left: 80px;
	padding-left: 10px;
}

#b2{
	font-size: 40px;
	height: 100%;
	width: 84%;
	border: none;
	padding-left: 45px;
	margin-left: -10px;
	display: inline-flex;
	justify-items: center;
	align-items: center;
}

#button2:hover{
	background-image: url("Trailer.png");
	color: white;
}

#b2:hover{
	color: #ad371b;
	font-size: 40px;
	text-shadow: 1.5px 1.5px 1.5px black;
}

#button3{
	justify-self: center;
	width: 30%;
	height: 216px;
	font-family: mad;
	font-size: 40px;
	background-image: url("icons.png");
	background-size: 100%;
}

#button3:hover{
	background-image: url("Interactive.png");
	color: white;
}

#b3{
	font-size: 40px;
	height: 100%;
	width: 100%;
	border: none;
	padding-left: 10px;
	margin-left: -5px;
	display: inline-flex;
	justify-items: center;
	align-items: center;
}

#b3:hover{
	color: #ad371b;
	font-size: 40px;
	text-shadow: 1.5px 1.5px 1.5px black;
}

#footer{
	background-color: #353935;
	width: 120%;
	height: 40px;
	margin-left: -70px;
	margin-bottom: -10px;
	padding-bottom: 0px;
	margin-top: 20px;
}

#logo2{
	padding-top: 4px;
	margin-left: 5px;
	padding-left: 10px;
	width: 8%;
}

#CHB{
	margin-top: -30px;
	margin-left: 130px;
	color: white;
	font-family: headkick;
	font-size: 10px;
}

#CHBot{
	margin-top: -13px;
	margin-left: 130px;
	color: white;
	font-family: headkick;
	font-size: 10px;
}

#navListB{
	font-size: 10px;
	position: absolute;
	margin-top: -25px;
	margin-left: 1300px;
	display: inline-flex;
	justify-content: space-between;
	width: 250px;
}

#navListB a{
	color: white;
	font-size: 10px;
	font-family: headkick;
	font-kerning: 1px;
	text-decoration: none;
	width: 130%;

}

#navListB a.active{
	color: goldenrod;
	font-size: 12px;
}

#navListB a:hover{
	color: black;
}

#navListB a:active{
	color: darkred;
}

a{
	color: white;
	font-size: 10px;
	font-family: headkick;
	font-kerning: 1px;
	text-decoration: none;
	width: 130%;

}

.up{
	font-family: headkick;
	border-radius: 50%;
	font-size: 40px;
	background-color: #ad371b;
	position: fixed;
	right: 10px;
	bottom: 20px;
}

.up:hover{
	background-color: #353935;
	color: white;
}